@import '../../assets/styles/index.scss';

.tab-label {
  font-family: "lexend" !important;
  text-transform: capitalize !important;
  font-size: 15px !important;
}

.MuiTableCell-head {
  font-family: "lexend" !important;
  color: $teal !important;
}

.MuiTableCell-body {
  font-family: "lexend" !important;
  color: #241f318b !important;
  font-size: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.no-data-table {
  font-size: 17px !important;
  font-family: "lexend" !important;
}

.MuiTypography-body1 {
  font-family: "lexend" !important;
  color: #241f319b !important;
  font-size: 14px !important;
}

.MuiSwitch-thumb {
  color: inherit !important;
}
