.tab-label {
  font-family: "lexend" !important;
  text-transform: capitalize !important;
  font-size: 15px !important;
}

.MuiTableCell-head {
  font-family: "lexend" !important;
  color: #527679 !important;
}

.MuiTableCell-body {
  font-family: "lexend" !important;
  color: #241f318b !important;
  font-size: 15px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.css-bsph2u-MuiTableCell-root {
  border-bottom: none !important;
}

.css-ahj2mt-MuiTypography-root {
  font-family: "lexend" !important;
  color: #241f319b !important;
  font-size: 15px !important;
}

.css-jsexje-MuiSwitch-thumb {
  color: inherit !important;
}
