@font-face {
  font-family: "lexend";
  src: local("lexend"), url(../fonts/Lexend/Lexend-Regular.ttf) format("woff");
}

@font-face {
  font-family: "lexend-bold";
  src: local("lexend-bold"), url(../fonts/Lexend/Lexend-Bold.ttf) format("woff");
}

@font-face {
  font-family: "lexend-black";
  src: local("lexend-black"),
    url(../fonts/Lexend/Lexend-Black.ttf) format("woff");
}

body {
  font-family: "lexend", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  overflow: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lexend-bold,
.lexend-black {
  font-family: inherit;
}

.lexend-bold {
  font-family: "lexend-bold", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.lexend-black {
  font-family: "lexend-black", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small {
  color: #241f31;
}

.m-0 {
  margin: 0 !important;
}

.text-center {
  text-align: center !important;
}
.text-white {
  color: white !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.MuiFormLabel-root {
  font-family: "lexend" !important;
  color: #241f31ae !important;
  font-size: 15.5px !important;
}

.fieldset.MuiOutlinedInput-notchedOutline {
  border-color: white;
}

fieldset {
  border-color: #edbb28 !important;
}

.MuiOutlinedInput-root {
  font-family: "lexend" !important;
  color: #241f31 !important;
}

.Mui-focused fieldset.MuiOutlinedInput-notchedOutline {
  border-color: #edbb28;
}

.primary-button {
  text-transform: none !important;
  font-family: "lexend" !important;
  background-color: #edbb28 !important;
  box-shadow: none !important;
  border-radius: 50px !important;
  padding: 10px !important;
}

.primary-button:disabled {
  background-color: #241f315b !important;
  color: #241f3160 !important;
}

.Toastify__toast--info {
  font-family: "lexend";
}

.Toastify__toast--warning {
  font-family: "lexend";
  background: #f57c00 !important;
}

.Toastify__toast--error {
  font-family: "lexend";
}
